<!DOCTYPE html>
<html land="en">

<head>

<meta charseet="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equip="X-UA-Compatible" content="'ie-edge">

<!-- Style Sheet -->
<link rel="stylesheet" type="text/css" href="../static/style.css">
<!-- Bootstrap JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

<!-- Website Title Etc. -->
<h1> <b> The</b></h1>
<h1><div> <b> Movie</b></div></h1>
<h1> <b> Box</b></h1>

    
<!-- Large button groups (default and split) -->
<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Rating
    </button>
    <ul class="dropdown-menu">
      <li>PG-13</li>
      <li>PG</li>
      <li>TV-MA</li>
      <li>G</li>
      <li>R</li>
      <li>PG</li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-secondary" type="button">
      Genre
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li>la</li>
      <li></li>
    </ul>
  </div>

<div class="wrapper" id="searchResults" style="text-align: center;">
  <h3>My Top 10 List</h3>



<!-- BootStrap JS framework -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- local bootstrap.js file-->
<script src="../static/bootstrap.js"></script>
</body>

<!-- Any disclaimer goes here -->
</html>